#splash-text {
	position: relative;
	top: 100px
}

.splashpage-banner {
	font-family: halyard-micro,sans-serif;

}

.splashpage-banner-extension {
	left: 1795px;
}

#splashpage-banner-container {
	position: absolute;
	width: auto;
}

#splashpage-banner-container > * {
	width: 1775px;
}

#splash-container {
	font-family: Haas;
	background:
    	linear-gradient(140deg, rgb(0, 66, 128,1), rgba(0, 66, 128, 0.3) 120.71%),
		linear-gradient(20deg, rgb(0, 107, 112, 1), rgba(0, 107, 112, 0.3) 70%),
		linear-gradient(10deg, rgb(223, 213, 213, 1), rgba(239, 33, 117, 0) 100%);
	background: rgb(20, 20, 20);
	color: white;
	font-weight: 200;
	font-style: normal;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 100vh;
}

#scroll-down {
	position: fixed;
	bottom: 20px;
	text-align: right;
	right: 30px;
}

.contact {
	top: 100px;
	position: relative;
	letter-spacing: 0px;
	font-family: Suisse Int;
	padding-bottom: 10px;
}
.contact > * {
	color: white;
}

.contact > a:hover {
	color: gray;
}

#splashpage-content {
	position: fixed;
}
