@font-face {
  font-family: 'Suisse Int';
  src: url('../src/assets/fonts/Suisse\ BP\ Int\ Regular.otf');
}

@font-face {
  font-family: 'San Fransico';
  src: url('../src/assets/fonts/SanFranciscoDisplay-Regular.otf');
}

@font-face {
  font-family: 'Faune';
  src: url('../src/assets/fonts/Faune-TextRegular.otf');
}

@font-face {
  font-family: 'Faune Italic';
  src: url('../src/assets/fonts/Faune-TextItalic.otf');
}

@font-face {
  font-family: 'Haas';
  src: url('../src/assets/fonts/NHaasGroteskTXPro-55Rg.ttf');
}

@font-face {
  font-family: 'Publico Roman';
  src: url('../src/assets/fonts/Publico-Roman.otf');
}